@{
    ViewBag.Title = "ServerSideTimeR";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<div class="content-wrapper">
    <div>
        Status:
        <label id="statusLabel" title="Current Status">
        </label>
    </div>
    <div>
        Connection Id:
        <label id="connectionId" title="Connection Id">
        </label>
    </div>
    <div>
        User Id:
        <label id="userId" title="Connection Id">
        </label>
    </div>
    <div>
        Online Since:
        <label id="onlineSince" title="Online Since">
        </label>
    </div>
</div>
<div class="ss-wizard">
    <div id="wizardHeader" class="ss-wizard-header">
        A Fancy Multipage Wizard - Page
        <label id="pageNumber">
        </label>
    </div>
    <div id="page1" style="height: 100px">
        <div id="wizardHeader1" class="ss-wizard-page-header">
            Page 1
        </div>
        <div>
        </div>
    </div>
    <div id="page2" style="height: 100px; display: none">
        <div id="wizardHeader2" class="ss-wizard-page-header">
            Page 2
        </div>
        <div>
        </div>
    </div>
    <div id="page3" style="height: 100px; display: none">
        <div id="wizardHeader3" class="ss-wizard-page-header">
            Page 3
        </div>
        <div>
        </div>
    </div>
    <div id="wizardFooter" class="ss-wizard-footer">
        <div>
            Data from the Server:
            <label id="serverSideData">none</label>
        </div>
        
        <button id="previous">
            Previous
        </button>
        <button id="nextButton">
            Next
        </button>
        <button id="save">
            Save
        </button>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
